<%- partial("style") %>
<%- partial("menu") %>

<div id="outer">
  <section class="panel" id="first"><%- partial("pages/about-event") %></section>
  <section class="panel" id="second"><%- partial("pages/about-hasgeek") %></section>
  <section class="panel" id="third"><%- partial("pages/" + path + "/schedule") %></section>
  <section class="panel" id="fourth"><%- partial("pages/" + path + "/venue") %></section>
  <section class="panel" id="fifth"><%- partial("pages/home") %></section>
  <section class="panel" id="sixth"><%- partial("pages/" + path + "/hacknight") %></section>
  <section class="panel" id="seventh"><%- partial("pages/" + path + "/videos") %></section>
  <section class="panel" id="eighth"><%- partial("pages/" + path + "/sponsors") %></section>
  <section class="panel" id="ninth"><%- partial("pages/" + path + "/credits")%></section>
  <section class="panel" id="tenth"><%- partial("pages/register")%></section>
</div>

<%- partial("footer") %>