<style type="text/css">body{display:none;}</style>
<style type="text/css" id="rendered"></style>
<style type="template" id="template">
body {height: {1h};}
#outer { height: {H};}
section.panel {width: {1w}; height: {H};}

#first  { left:-{4w};}
#second { left:-{3w};}
#third  { left:-{2w};}
#fourth { left:-{1w};}
#fifth  { left: 0;}
#sixth  { left: {1w};}
#seventh{ left: {2w};}
#eighth { left: {3w};}
#ninth  { left: {4w};}

.first   #outer {margin-left: {4w};}
.second  #outer {margin-left: {3w};}
.third   #outer {margin-left: {2w};}
.fourth  #outer {margin-left: {1w};}
.fifth   #outer {margin-left: 0;}
.sixth   #outer {margin-left:-{1w};}
.seventh #outer {margin-left:-{2w};}
.eigth   #outer {margin-left:-{3w};}
.ninth   #outer {margin-left:-{4w};}
</style>


<header>
  <nav>
    <a href="/about-event">About Event</a>
    <a href="/about-hasgeek">About HasGeek</a>
    <a href="/schedule">Schedule</a>
  </nav>
  <a href="/home" class="logo">
    <img src="/img/logo.png" />
  </a>
  <nav>
    <a href="/venue">Venue</a>
    <a href="/videos">Videos</a>
    <a href="/sponsors">Sponsors</a>
    <a href="/credits">Credits</a>
  </nav>  
  <a href="/register" class="register">
    <strong>Register</strong>
  </a>
  <div id="pptsalon">
    <a href="/credits">Designed by PPTSalon</a>
  </div>
</header>
<div id="outer">
  <section class="panel" id="first"><%- partial("pages/about-event") %></section>
  <section class="panel" id="second"><%- partial("pages/about-hasgeek") %></section>
  <section class="panel" id="third"><%- partial("pages/schedule") %></section>
  <section class="panel" id="fourth"><%- partial("pages/home") %></section>
  <section class="panel" id="fifth"><%- partial("pages/venue") %></section>
  <section class="panel" id="sixth"><%- partial("pages/videos") %></section>
  <section class="panel" id="seventh"><%- partial("pages/sponsors") %></section>
  <section class="panel" id="eighth">
    <article id="credits">
      Credits
    </article>
  </section>
  <section class="panel" id="ninth">
    <article id="register">
      Register
    </article>
  </section>
</div>

<footer>
  
</footer>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='/js/jquery.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/main.js"></script>