<%- partial("style") %>
<%- partial("menu") %>

<div id="outer">
  <section class="panel" id="first"><%- partial("pages/about-event") %></section>
  <section class="panel" id="second"><%- partial("pages/about-hasgeek") %></section>
  <section class="panel" id="third">Yet to come</section>
  <section class="panel" id="fourth">Update soon</section>
  <section class="panel" id="fifth"><%- partial("pages/home") %></section>
  <section class="panel" id="sixth">Not Applicable</section>
  <section class="panel" id="seventh">Checkout bangalore videos</section>
  <section class="panel" id="eighth"><%- partial("pages/sponsors-2011-pune") %></section>
  <section class="panel" id="ninth"><%- partial("pages/credits")%></section>
  <section class="panel" id="tenth">Yet to open</section>
</div>

<%- partial("footer") %>