<header>
  <nav>
    <a href="/<%= prefix %>/about-event">About Event</a>
    <a href="/<%= prefix %>/about-hasgeek">About HasGeek</a>
    <a href="/<%= prefix %>/schedule">Schedule</a>
    <a href="/<%= prefix %>/venue">Venue</a>
  </nav>
  <a href="/<%= prefix %>/" class="logo">
    <img src="/img/logo.png" />
  </a>
  <nav>
    <a href="/<%= prefix %>/hacknight">Hack Night</a>
    <a href="/<%= prefix %>/videos">Videos</a>
    <a href="/<%= prefix %>/sponsors">Sponsors</a>
    <a href="/<%= prefix %>/credits">Credits</a>
  </nav>  
  <a href="/<%= prefix %>/register" class="register">
    <strong>Register</strong>
  </a>
  <div id="pptsalon">
    <a href="/<%= prefix %>/credits">Designed by PPTSalon</a>
  </div>
</header>